html {
  scroll-behavior: smooth;
}

:root {
  --primary-font: 'Poppins', sans-serif;
  --primary-color: #000000;
  --secondary-color: #ffffff;
  --primary-accent-color: #C0C0C0;
  --accent-color: #181818;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

.features img {
  width: unset !important;
}

.features li {
  display: flex;
  align-items: center;
  gap: 6px;
}

body {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  font-weight: 400;
  font-size: 14px;
}

header {
  background-color: var(--accent-color);
  padding: 30px 152px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  div {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  ul {
    display: flex;
    gap: 32px;
  }

  li {
    border-bottom: 1px solid transparent;
    transition: 0.3s ease-in-out;
  }

  li:hover {
    border-bottom: 1px solid var(--secondary-color);
    transition: 0.3s ease-in-out;
  }

  button {
    width: 155px;
    height: 42px;
    border: none;
    border-radius: 14px;
    background-color: var(--secondary-color);
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    font-weight: 400;
    transition: 0.3s ease-in-out;
    border: 1px solid transparent;
  }

  button:hover {
    background-color: var(--accent-color);
    color: var(--secondary-color);
    transition: 0.3s ease-in-out;
    border: 1px solid var(--secondary-color);
  }
}

.hero {
  text-align: center;
  position: relative;

  img {
    width: 100%;
  }

  .hero-info {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translate(-50%, -30%);
  }

  .hero-info span {
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--primary-accent-color);
  }

  .hero-info h1 {
    font-weight: 400;
    font-size: 54px;
    line-height: 60px;
    margin-block: 1px 18px;
  }

  .hero-info p {
    font-size: 14px;
    line-height: 20px;
    color: var(--primary-accent-color);
    width: 580px;
    margin: 0 auto;
  }

  .features {
    display: flex;
    gap: 16px;
    position: absolute;
    bottom: 40px;
    right: 40px;
    font-size: 12px;
  }
}

.what-we-do {
  margin-top: 113px;
  padding-inline: 152px;

  h2 {
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 15px;
  }

  p {
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    color: var(--primary-accent-color);
    margin-bottom: 42px;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  ul li div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-inline: 20px 35px;
    position: absolute;
    top: 70%;
  }

  ul li p {
    font-size: 14px;
    line-height: 20px;
    color: var(--primary-accent-color);
    margin: 8px 0 20px;
    text-align: left;
  }

  ul li button {
    width: 143px;
    height: 42px;
    border: none;
    border-radius: 14px;
    background-color: var(--secondary-color);
    font-size: 15px;
    letter-spacing: 0.4px;
    border: 1px solid transparent;
    transition: 0.3s ease-in-out;
  }

  .products button:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: 0.3s ease-in-out;
    border: 1px solid var(--secondary-color);
  }

  .products li h3 {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .products li {
    position: relative;
  }

  .products img {
    width: 100%;
  }
}

.big-photo-1 {
  margin-top: 100px;
  position: relative;

  img {
    width: 100%;
  }

  .big-photo-info {
    position: absolute;
    top: 49%;
    left: 85%;
    transform: translate(-50%, -50%);
    width: 298px;
  }

  .big-photo-info h3 {
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 400;
  }

  .big-photo-info p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--primary-accent-color);
  }

  .features {
    display: flex;
    gap: 16px;
    position: absolute;
    bottom: 40px;
    right: 40px;
    font-size: 12px;
  }
}